*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
